---
import type { MarkdownInstance } from "astro";
import * as cheerio from "cheerio";
import Path from "node:path";
import { type Article } from "zenn-model";
import { Zenn } from "../components/zenn";
import Layout from "../layouts/Layout.astro";
import markdownToHtml from "../lib/markdownToHtml";

export function getStaticPaths() {
  const slugs = import.meta.glob<MarkdownInstance<Article>>("../../../articles/*.md");

  return Promise.all(
    Object.entries(slugs).map(async ([slug, article]) => {
      const id = Path.basename(slug, ".md");
      const content = await article();

      const html = markdownToHtml(content.rawContent(), {
        embedOrigin: "https://embed.zenn.studio",
      });

      const $ = cheerio.load(html);

      $(`img`).each((i, el) => {
        const src = $(el).attr("src")!.slice("images/".length);
        $(el).attr("src", src);
      });

      Array.from([1, 2, 3, 4, 5]).forEach((i) => {
        $(`h${i}`).each((i, el) => {
          const id = $(el).text().toLowerCase().replace(/\s/g, "-");
          $(el).attr("id", id);
        });
      });
      console.log(content.frontmatter);

      return {
        params: { id },
        props: {
          html: $.html(),
          title: content.frontmatter.title,
          emoji: content.frontmatter.emoji,
        },
      };
    })
  );
}

const { id } = Astro.params;
const { html, title, emoji } = Astro.props;
---

<Layout>
  <header>
    <img
      src={`https://asia-northeast1-zenn-dev-production.cloudfunctions.net/twemoji/${emoji}.svg`}
      alt={emoji}
      class="emoji"
    />
    <h1>{title}</h1>
  </header>
  <article>
    <section>
      <Zenn html={html} />
    </section>
  </article>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");

  html[lang="ja"] {
    font-family: "Meiryo", "sans-serif", "Segoe UI Emoji";
  }

  body {
    line-height: 1.6;
    background: #edf2f7;
  }

  .emoji {
    width: 75px;
    height: 75px;
  }

  header {
    padding: 3.8rem 0 4rem;
    text-align: center;
  }

  article {
    max-width: 830px;
    margin: 0 auto;
  }

  section {
    margin: 0 20px;
    background: #ffffff;
    padding: 40px 40px;
  }
</style>
